<div class='row' style='margin-top:2rem'>
  <div class='col m12 l8'>
    <div class='card'>
      <div class='card-content'>
        <div class='card-title center-align'>
          Hi <%= current_user.name %>! Have a good week
          <i class="material-icons" style='position: relative; top: 3px;'>sentiment_very_satisfied</i>
        </div>
      </div>
    </div>
  </div>
  <%= render "events" %>
</div>