<div class='row'>
  <div class='col l4 offset-l4 m8 offset-m2 s12'>
    <div class='card'>
      <div class='card-content'>
        <div class='center-align card-title'><%= @activity.title %></div>
        <p>description:</p>
        <p><%= @activity.description %></p>
      </div>
      <div class='card-action right-align'>
        <%= link_to "back", root_path, class:'btn-flat' %>
        <%= link_to "edit", edit_activity_path(@activity), class:'btn' %>
      </div>
    </div>
  </div>
</div>